<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guofang.hatch.dao.LoginDao">

    <select id="getUser" resultType="com.alibaba.fastjson.JSONObject">
        select
            gu.id, gu.bid, gu.password, gu.account_number, gu.remember_token, gu.created_at, gu.updated_at, gu.avatar, gu.phone, gu.user_name, gu.post_id, gu.dep_id, gu.sex, gu.identity, gu.avatar, gu.bname,
            gru.role_id
        from
            gf_users gu left join gf_role_users gru on gu.id = gru.user_id
        where
            gu.bid = #{bid} and gu.account_number = #{username} and gu.is_del = 0 and gu.is_enable = 1
    </select>

</mapper>