<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guofang.hatch.dao.LoginDao">

    <select id="getUser" resultType="com.alibaba.fastjson.JSONObject">
        select id, bid, password, account_number as account, remember_token, created_at, updated_at, avatar, phone, user_name, post_id, dep_id, sex, `identity` from gf_users where bid = #{bid} and account_number = #{username} and is_del = 0 and is_enable = 1
    </select>

</mapper>